/*********GENERAL********/

*
{
    box-sizing: border-box;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}
.active
{
    color: #ffa302;
    background: #8ef4bb;
    border-radius: 3px;
}

/*********HEADER**********/

header
{
    background: #8ef4bb;
    text-align:center;
    padding: 15px;
}


header img
{
    width:20%;
    height:20%;
}

/************NAV***********/
#nav a
{
    font-family:Squada One, Arial;
    text-transform: uppercase;
    margin: 0px 25px 0px 25px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    transition: background .3s;
}
 
#nav a:hover
{
    color: #ffa302;
    background: #8ef4bb;
    border-radius: 3px;
}
 
#nav
{
    text-align: center;
    background: #197d6f;
    padding: 20px;
    margin-bottom: 0px;
}

/*********CONTENT*********/

#about .pic img{
    width: 100%;
}

/*********FOOTER**********/

div img
{
    width: 60px;
}

footer
{
    text-align: center;
    background: #8ef4bb;
    padding: 15px;
}

p a:hover
{
    color: red;
}

p a
{
    text-decoration: none;
    display: inline-block;
}
