/*********GENERAL********/

*
{
    box-sizing: border-box;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

/*********HEADER**********/

header
{
    background: #8ef4bb;
    text-align:center;
    padding: 15px;
}


header img
{
    width:20%;
    height:20%;
}

/************NAV***********/
#nav a
{
    font-family:Squada One, Arial;
    text-transform: uppercase;
    margin: 0px 25px 0px 25px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
 
#nav a:hover
{
    color: #f26f0d;
}
 
#nav
{
    text-align: center;
    background: #197d6f;
    padding: 20px;
    margin-bottom: 0px;
}

/*********CONTENT*********/

h1
{
    text-align: center;
    font-family: Odibee Sans;
}

#picture img
{
  float: left;
  margin: 10px 10px 10px 10px;
  width: 50%;
}

 .picture:nth-child(2n+1)
 {
    clear: left;
 }


/*********FOOTER**********/

footer div img
{
    width: 8%;
}

footer
{
    text-align: center;
    background: #8ef4bb;
}

p a:hover
{
    color: red;
}

p a
{
    text-decoration: none;
}