/*********GENERAL********/

*
{
    box-sizing: border-box;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}




/*********HEADER**********/

header
{
	background: #8ef4bb;
	text-align:center;
    padding: 15px;
}


header img
{
	width:20%;
	height:20%;
}


/************NAV***********/
#nav a
{
 	font-family:Squada One, Arial;
  	text-transform: uppercase;
  	margin: 0px 25px 0px 25px;
  	color: white;
  	font-weight: 700;
  	font-size: 20px;
  	text-decoration: none;
}
 
#nav a:hover
{
 	color: #f26f0d;
}
 
#nav
{
 	text-align: center;
 	background: #197d6f;
 	padding: 20px;
    margin-bottom: 0px;
}

 /**********Gallery*********/
  
  #gallery
{
    padding-top: 15px;
    padding-bottom: 15px;
}
  
  #gallery img
{
    width: 100%;
    
}

#gallery .picture
{
    width: 50%;
    float: left;
    padding: 0px 15px 15px 0px;
}

 #gallery .picture:nth-child(2n+1)
 {
    clear: left;
 }
 
#main-content
{
    margin-top: 0px;
    background: #4fa22a6b;
}

#gallery .caption
{
    background: #34c41f4d;
    padding: 10px;
}

#gallery .caption p
{
    font-family: Limelight, cursive;
    
}
/*********HEADER**********/

footer .main
{

}