/*********GENERAL********/

*
{
    box-sizing: border-box;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

.active
{
    color: #ffa302;
    background: #8ef4bb;
    border-radius: 3px;
}

/*********HEADER**********/

header
{
	background: #8ef4bb;
	text-align:center;
    padding: 15px;
}


header img
{
	width:20%;
	height:20%;
}
 .logo-container img
 {
    width: 150px;
 }

/************NAV***********/
#nav a
{
 	font-family:Squada One, Arial;
  	text-transform: uppercase;
  	margin: 0px 25px 0px 25px;
  	color: white;
  	font-weight: 700;
  	font-size: 20px;
  	text-decoration: none;
    transition: background .3s;
}
 
#nav a:hover
{
    color: #ffa302;
 	background: #8ef4bb;
    border-radius: 3px;
}
 
#nav
{
 	text-align: center;
 	background: #197d6f;
 	padding: 20px;
    margin-bottom: 0px;
}

 /**********Gallery*********/
  
  #gallery
{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #b5d8a5;
}
  
  #gallery img
{
    width: 100%;
    
}

#gallery .picture
{
    width: 50%;
    float: left;
    padding: 0px 15px 15px 0px;
}


#main-content
{
    margin-top: 0px;
    background: #4fa22a6b;
}

#gallery .caption
{
    background: #34c41f4d;
    padding: 10px;
}

#gallery .caption p
{
    font-family: Limelight, cursive;
    
}


/*********ABOUT***********/

#about .pic img
{
    text-align: center;
    width: 50%;
    border-radius:;
    padding: 25px 10px;
    display: inline-block;
    float: left;
    clear: left;
}

h1
{
    padding: 40px 15px 45px 15px;
    background: #b5d8a5;
    text-align: center;
}

section
{
    background: #b5d8a5;
}

.title
{
    margin-bottom: -8px;
}

.description p
{
    float: right;
    display: inline-block;
    font-size: 20px;
}


/*********CONTACT*********/



/*********FOOTER**********/

div img
{
    width: 60px;
}

footer
{
    text-align: center;
    background: #8ef4bb;
    padding: 15px;
}

p a:hover
{
    color: red;
}

p a
{
    text-decoration: none;
    display: inline-block;
}

/************REGOLE**********/

@media only screen and (min-width: 768px)
{
   
    /******gallery******/

#gallery .picture
{
    width: 33%;
}
 #gallery .picture:nth-child(3n+1)
 {
    clear: left;
 }

 
 /******ABOUT******/
 #about .pic
 {
    float: left;
    width: 50%;
 }

 #about .description
 {
    float: right;
    width: 50%;
 }
}

@media only screen and (max-width: 767px)
{
   
    /******gallery******/

     #gallery .picture:nth-child(2n+1)
 {
    clear: left;
 }
}